<!DOCTYPE html>
<html>
<head>
	<title>Compare Two Clients</title>
	<script type="text/javascript">
		var reader = new XMLHttpRequest();
	    var checkFor = "output.html"; //Add the first link
	    var second = "alter.html"; //Add the alternative

	    reader.open('get', checkFor, true);
	    reader.onreadystatechange = checkReadyState;

	    function checkReadyState() {
	        if (reader.readyState === 4) {
	            if ((reader.status == 200) || (reader.status == 0)) {
	            document.getElementById('site').src =  checkFor;
	            }
	            else {
	           document.getElementById('site').src = second;
	            return;
	            }
	        }
	    }
	    reader.send(null);
	</script>
</head>
<body style="background-color: whitesmoke;">
    <div>
    	<h2 style="text-align: center; margin-top: 0%">Compare Two Clients</h2>
    	<button onclick="location.href='{{ url_for('home')}}';">Back</button>
    	<hr>
    </div>
    <div style="width:50%;  margin-left: 25%" >	

	<form id = "myForm" name = "Details" action = "{{url_for('script')}}" method="POST" target="output_frame">
		<div  style='float:left'>
		    <label>Client Name : </label>
		    <input type ="text" name = "client1" required>
		    <br><br>
		    <label>Legal Entity Name : </label> 
		    <input type ="text" name = "legal1" required>
		</div>

		<div  style='float:right'>
			<label>Client Name : </label>
			<input type ="text" name = "client2" required>
			<br><br>
			<label>Legal Entity Name : </label> 
			<input type ="text" name = "legal2" required>
		</div>


		<div style=" margin-left : 25% ;" >
			<br><br><br><br>
			<label>From : </label>
			<input type="date" name="from" required>
			<br>
			<label>Select attribute to compare : </label>
			<select  name="attribute_value">
				  {% for elem in listofatt%}
				   <option value= "{{elem}}" SELECTED>{{elem}}</option>"
				  {% endfor %}
			</select>
			<input type="submit" value="Submit" style=" margin-left : 20% ;" required>
		</div>
	</form>

    </div>
    <hr> 
    
    <div style=" margin-left : 25% ;">
    	<iframe id='site' name="output_frame" src="output.html" height=390px width=900px>
		</iframe>
    </div>

    
    <!---
     <div style="margin-left: 20%;">
    	<iframe name="output_frame" src="output.html" height=0px width=0px>
    		
		</iframe>
    </div>
    --->
</body>
</html>