<!DOCTYPE html>
<html>
<head>
	<title>Predict Top Clients</title>
	<style type="text/css">
		body{
			background-color: whitesmoke;
			text-align: center;
			font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		}
		.button{
			background-color: black;
			color: white;
		}
		table{
			text-align: : center;
			border: 1px solid black;
			margin-left:auto;
			margin-right:auto;
			background-color: white;
		}
	</style>
</head>
<body>
	
	
    	<h2 style="text-align: center; margin-top: 0%">Predict Top Clients</h2>
    	<hr>
    	<button onclick="location.href='{{ url_for('home')}}';">Back</button>
    	<hr>
    


	<form class="pred_top" action="{{ url_for('topNClients')}}" method="POST" target="">
		<label>Legal Entity Name : </label>
		<input type="text" name="lename">
		<label>Select no. of clients : </label>
			<select name="number">
				<option value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
				<option value=5>5</option>
				<option value=6>6</option>
			</select>
			<br><br>
		<input class="button" type="submit" name="submit" value="Submit">
	</form>
	<br>

    {%if result%}

		<table>
	        <thead>
	            <tr>
	               <th>Client Name</th>
	               <th>Mean Predicted Amount</th>
	            </tr>
	        </thead>

	        <tbody>
	            {% for client,amount in result.items() %}
               <tr>
                  <td>{{ client }}</td>
                  <td>{{ amount }}</td>
               </tr>
                {% endfor %}
	        </tbody>
	    </table>

    {% endif %}

</body>
</html>